username:password
11/12/2019-11/17/2019,12/11/2019-12/22/2019,12/29/2019-1/3/2020 # dates to NOT curate remedy tickets between
# wsdl prod
# wsdl QA (if applicable, otherwise leave blank)
# put QA or PROD here
# todo - all required shit for a CM
